@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Include fonts
*/

@font-face {
  font-family: 'serif';
  src: url('./assets/fonts/SourceSerif4-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'serif-bold';
  src: url('./assets/fonts/SourceSerif4-SemiBold.ttf') format('woff');
}

::selection {
  background-color: #f5f5f5;
  /* color: #333; */
}

:root {
  font-family: serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

h1 {
  font-family: serif-bold;
}

.text-shadow {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}